html {
    font-family: sans-serif;
    background: #eee;
}

.wrap {
    width: 100vw;
    box-sizing: border-box;
    padding: 10px 30px 30px;
}

img {
    max-width: 100%;
    height: auto;
}

.placeImg {
    background: lightcyan;
    box-sizing: border-box;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    width: 16px;
    height: 28px;
    border-radius: 20px;
}

.plImg40 {
    margin-left: 40px;
}

.plImg2 {
    margin-left: 2px;
}

.plImg20 {
    margin-left: 20px;
}

.plImg4 {
    margin-left: 4px;
}

.placeImgTaken {
    background: gray;
    box-sizing: border-box;
    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}

.placeImg:hover {
    background-color: blue;
}

.places__app {
    width: 1200px;
    min-height: 300px;
    background: #fff;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px 60px 30px;

}

.places__row {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.place {
    width: 20px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.place__image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place__image img {
    max-height: 180px;
}

.place__name {
    font-weight: 700;
}

.place__buy {
    width: 170px;
    height: 40px;

    margin-top: 5px;
    background: #32b14a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.place__buy:hover {
    background: #ffcc00;
    color: #414141;
    cursor: pointer;
}

.places__icon {
    position: absolute;
    top: 20px;
    right: 150px;
}

#places__cart {
    display: block;
    width: 25px;
    height: 25px;
    background: #ffcc00;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    position: absolute;
    bottom: -10px;
    right: -10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: darkslateblue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.del {
    background-color: #eeeeee;
}
.del:hover {
    background-color: aqua;
}